.svg-sprite-icon-applis {
  background: url('svg/sprite.css-69e38eb3.svg') no-repeat;
  background-size: 700%;
}

.svg-apple-notes {
  background-position: 0 0;
}

.svg-bitwarden {
  background-position: 16.666666666666668% 0;
}

.svg-calendar {
  background-position: 0 16.666666666666668%;
}

.svg-chrome {
  background-position: 16.666666666666668% 16.666666666666668%;
}

.svg-citymapper {
  background-position: 33.333333333333336% 0;
}

.svg-cospend {
  background-position: 33.333333333333336% 16.666666666666668%;
}

.svg-disc {
  background-position: 0 33.333333333333336%;
}

.svg-discord {
  background-position: 16.666666666666668% 33.333333333333336%;
}

.svg-fdroid {
  background-position: 33.333333333333336% 33.333333333333336%;
}

.svg-firefox {
  background-position: 50% 0;
}

.svg-framaforms {
  background-position: 50% 16.666666666666668%;
}

.svg-geometric {
  background-position: 50% 33.333333333333336%;
}

.svg-gmail {
  background-position: 0 50%;
}

.svg-google-docs {
  background-position: 16.666666666666668% 50%;
}

.svg-google-drive {
  background-position: 33.333333333333336% 50%;
}

.svg-google-forms {
  background-position: 50% 50%;
}

.svg-google-maps {
  background-position: 66.66666666666667% 0;
}

.svg-google-search {
  background-position: 66.66666666666667% 16.666666666666668%;
}

.svg-insta {
  background-position: 66.66666666666667% 33.333333333333336%;
}

.svg-iroco {
  background-position: 66.66666666666667% 50%;
}

.svg-jitsi {
  background-position: 0 66.66666666666667%;
}

.svg-mail {
  background-position: 16.666666666666668% 66.66666666666667%;
}

.svg-mastodon {
  background-position: 33.333333333333336% 66.66666666666667%;
}

.svg-mattermost {
  background-position: 50% 66.66666666666667%;
}

.svg-mdp {
  background-position: 66.66666666666667% 66.66666666666667%;
}

.svg-netflix {
  background-position: 83.33333333333333% 0;
}

.svg-nextcloud {
  background-position: 83.33333333333333% 16.666666666666668%;
}

.svg-nextcloud-notes {
  background-position: 83.33333333333333% 33.333333333333336%;
}

.svg-onlyoffice {
  background-position: 83.33333333333333% 50%;
}

.svg-osmand {
  background-position: 83.33333333333333% 66.66666666666667%;
}

.svg-peertube {
  background-position: 0 83.33333333333333%;
}

.svg-pixelfed {
  background-position: 16.666666666666668% 83.33333333333333%;
}

.svg-play-store {
  background-position: 33.333333333333336% 83.33333333333333%;
}

.svg-rating-empty {
  background-position: 50% 83.33333333333333%;
}

.svg-rating-half {
  background-position: 66.66666666666667% 83.33333333333333%;
}

.svg-rating-plain {
  background-position: 83.33333333333333% 83.33333333333333%;
}

.svg-signal {
  background-position: 100% 0;
}

.svg-startpage {
  background-position: 100% 16.666666666666668%;
}

.svg-thunderbird {
  background-position: 100% 33.333333333333336%;
}

.svg-transportr {
  background-position: 100% 50%;
}

.svg-tricount {
  background-position: 100% 66.66666666666667%;
}

.svg-twitr {
  background-position: 100% 83.33333333333333%;
}

.svg-weather {
  background-position: 0 100%;
}

.svg-whatsapp {
  background-position: 16.666666666666668% 100%;
}

.svg-word {
  background-position: 33.333333333333336% 100%;
}

.svg-youtube {
  background-position: 50% 100%;
}

.svg-zoom {
  background-position: 66.66666666666667% 100%;
}
